// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-default {
  background-color: #601848;
  border-color: #480048;
  // color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

body {
  padding-top: 50px;
}

.cats, .puppies {
  width: 200px;
  height: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.alert {
  width: 95%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.alert h1 {
  text-align: center;
}
